<template>
  <div id="detail">
    <h1>Dust in Air</h1>
    <img v-if="AQI <= 50" src="./../assets/1.png">
    <img v-else-if="AQI >= 51 && AQI <= 100" src="./../assets/2.png">
    <img v-else-if="AQI >= 101 && AQI <= 200" src="./../assets/3.png">
    <img v-else-if="AQI >= 201 && AQI <= 300" src="./../assets/4.png">
    <img v-else-if="AQI > 301" src="./../assets/5.png">
    <h2>{{ location }}</h2>
    <h4>AQI: {{ displayAQI }}</h4>
    <h4>PM 10: {{ pm10 }}</h4>
    <h4>PM 2.5: {{ pm25 }}</h4>
    <h4>TEMP: {{ temp }}</h4>
    <h4>HUMID: {{ humid }}</h4>
    <h4>Last Update: {{ lastUpdate }}</h4>
  </div>
</template>

<script>
import Axios from "axios";

export default {
  name: "Detail",
  data() {
    return {
      location: "",
      AQI: "",
      pm10: "",
      pm25: "",
      temp: "",
      humid: "",
      lastUpdate: ""
    };
  },
  methods: {
    getStationDetail() {
      Axios.get("stations/9/avghr")
        .then(response => {
          this.location = response.data[0].dustboy_name;
          this.temp = response.data[0].value[0].temp;
          this.pm10 = response.data[0].value[0].pm10;
          this.pm25 = response.data[0].value[0].pm25;
          this.humid = response.data[0].value[0].humid;
          this.lastUpdate = response.data[0].value[0].log_datetime;
        })
        .catch(error => {
          console.error(error);
        });
    }
  },
  mounted() {
    this.getStationDetail();
  },
  computed: {
    displayAQI() {
      if (this.pm25 <= 25) {
        this.AQI = ((25 - 0) * (this.pm25 - 0)) / (25 - 0) + 0;
      } else if (this.pm25 <= 37 && this.pm25 > 25) {
        this.AQI = ((50 - 26) * (this.pm25 - 26)) / (37 - 26) + 26;
      } else if (this.pm25 <= 50 && this.pm25 > 37) {
        this.AQI = ((100 - 51) * (this.pm25 - 38)) / (50 - 38) + 51;
      } else if (this.pm25 <= 90 && this.pm25 > 50) {
        this.AQI = ((200 - 101) * (this.pm25 - 51)) / (90 - 51) + 101;
      } else if (this.pm25 <= 600 && this.pm25 > 90) {
        this.AQI = ((500 - 201) * (this.pm25 - 91)) / (600 - 91) + 201;
      } else if (this.pm25 > 600) {
        this.AQI = 500;
      }
      return this.AQI
    }
  }
};
</script>