<template>
  <div id="home">
    <gmap-map :center="center" :zoom="12" style="width:100%;  height: 600px;">
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="onClickMarker"
        icon="https://cdn2.iconfinder.com/data/icons/facebook-ui-colored/48/JD-17-512.png"
      ></gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
import Axios from "axios";

export default {
  name: "Home",
  data() {
    return {
      center: { lat: 19.897755, lng: 99.838422 },
      markers: [],
      places: [],
      currentPlace: null
    };
  },
  methods: {
    getStations() {
      Axios.get("stations")
        .then(response => {
          for (const item of response.data) {
            const marker = {
              lat: Number(item.dustboy_lat),
              lng: Number(item.dustboy_lon)
            };
            this.markers.push({ position: marker });
            this.places.push(this.currentPlace);
            this.currentPlace = null;
          }
        })
        .catch(error => {
          console.error(error);
        });
    },
    setPlace(place) {
      this.currentPlace = place;
    },
    onClickMarker() {
        this.$router.push('detail') 
    }
  },
  mounted() {
    this.getStations();
  }
};
</script>